<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibGit2Sharp" version="0.25.2" targetFramework="net461" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.217" targetFramework="net461" />
  <package id="MadMilkman.Ini" version="1.0.6.0" targetFramework="net461" />
  <package id="NLog" version="4.5.9" targetFramework="net461" />
</packages>